/* Media Player*/
.mediaPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  background: var(--background-color);
  padding: 16px;
  box-shadow: var(--box-shadow);
  align-items: center;
  margin-bottom: auto;
  flex-grow: 0;
  border-radius: 10px;
  flex-shrink: 1;
}

.playerElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  flex-shrink: 1;
  order: 2;
}

.currentSongTitle {
  width: 30%;
  order: 1;
}

.currentSongTitle h3 {
  width: 100%;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 40%;
  transition: all 0.3ms ease;
  order: 2;
}

#playBtn {
  font-size: 35px;
  cursor: pointer;
  width: 18px;
}

.playButtons #previousBtn,
#nextBtn {
  font-size: 25px;
  cursor: pointer;
}

.playButtons i {
  font-size: 22px;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.playButtons i:hover {
  color: var(--secondary-color);
}

.songTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  width: 30%;
  order: 3;
}

.songTime h3 {
  color: var(--text-color);
  font-size: small;
  font-weight: 500;
  text-align: right;
}

/* Minimalist Volume Control */
.volume {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  background: var(--background-color);
  padding: 8px 0px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.volume i {
  color: var(--text-color);
  font-size: 16px;
}

.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Styling the seekbar */
.seekBar {
  order: 1;
  display: flex;
  width: 100%;
  height: 4px;
  background: var(--grey-color);
  position: relative;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  flex-shrink: 1;
}

.seekBar:hover {
  background-color: var(--accent-color);
}

.seekBar .circle {
  height: 12px;
  width: 12px;
  background: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
}
