
@media (width <= 1400px) {
    .left {
        width: 30%vw;
    }

    .right {
        width: 70%;
    }
  }

  @media (width <= 1024px) {
    .left {
        width: 35%;
    }

    .right {
        width: 65%;
    }
  }

@media (width <= 900px) {    

    .container{
        padding: 0%;
        gap: 0px;
    }

    .left {
        background-color: rgba(49, 49, 49, 0.63);
        padding: 10px;
        width: 40vw;
        height: 100%;
        border-radius: 0px;
        z-index: 4;
        position: absolute;
        transform: translateX(-110%)
    }
    .right {
        width: 100%;
        height: 100%;
    }
    .rightHeader .nav .hamburger {
        display: flex;
    }

    .left .closeHamburger {
        display: flex;
    }

}

@media (width <= 600px) {
    .left {
        width: 70vw;
    }

    .playerElements {
        margin-top: 20px;
        flex-direction: column;
        row-gap: 15px;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    .currentSongTitle {
        width: 80%;
        order: 1;
      }

      .currentSongTitle h3 {
        width: 100%;
        text-align: center;
      }

    .songTime {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        order: 2;
    }
    .songTime h3 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .playButtons {
        order: 3;
    }

    .seekbar {
        order: 2;
    }

}

@media (width <= 480px) {
    .left {
        width: 100vw;
    }
}

@media (width <= 320px) {
    .left {
        width: 100vw;
    }
}