/* Styling right side of the container */

.right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .rightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    background-color: var(--grey-color);
    gap: 10px;
    flex-grow: 0;
  }
  
  .rightHeader .nav .hamburger {
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--primary-color);
    margin-right: 10px;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .rightHeader .nav .hamburger:hover {
    color: var(--secondary-color);
  }
  .rightHeader .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .rightHeaderBtns button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  } 
  
  .rightHeaderBtns button:hover {
    background-color: var(--secondary-color);
  }
  
  /* Styling main content of the right side */
  
  .spotifyPlaylist {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    align-content: flex-start;
    flex-grow: 1;
  }
  
  .spotifyPlaylist h1 {
    font-family: Poppins, "Roboto", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--primary-color);
    margin: 10px 0px;
  }
  
  .cardContainer {
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    flex-wrap: wrap;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #282828;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 160px;
    position: relative;
    max-height: fit-content;
  }
  
  .card:hover {
    background: rgb(77, 77, 77);
    transition: all 0.3s ease;
  }
  
  .card img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .card:hover img {
    filter: brightness(0.6);
    transition: all 0.3s ease;
  }
  .card h2 {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-color);
    overflow: hidden;
    letter-spacing: 0.07rem;
  }
  
  .card p {
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: grey;
    overflow: hidden;
    cursor: default;
  }
  
  .card:hover p {
    color: rgb(173, 173, 173);
    transition: all 0.3s ease;
  }
  /* Styling the play button */
  
  .playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
  }
  
  .card:hover .playButton {
    opacity: 1;
    animation: playButtonMove 0.4s ease-out forwards;
    pointer-events: auto;
  }
  
  @keyframes playButtonMove {
    0% {
      transform: translateX(-50%) translateY(-40px); /* Start above */
    }
  
    50% {
      transform: translateX(-50%) translateY(5px); /* Move down a bit */
    }
    100% {
      transform: translateX(-50%) translateY(0); /* End at the original position */
    }
  }