/* Adding the "Roboto" font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px; /* Added base radius */
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1a1a1a;
  border-radius: 5px; /* This will affect Firefox's scrollbar but NOT its shape */
}


/* removing default margin and padding and setting default font*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

/* Styling the body */

body {
  background-color: black;
  color: white;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  gap: 10px;
}

/* Styling left side of the container */

.left {
  width: 25vw;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 25px;
  cursor: pointer;
}

.logo h5 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.home {
  flex-grow: 0;
}

.home ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.home ul li {
  color: white;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin-bottom: 5px;
  gap: 15px;
  cursor: pointer;
  font-weight: 500;
}

.home ul li i {
  margin-right: 10px;
  font-size: large;
}

.library {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-grow: 1;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
}

.heading {
  align-items: center;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  flex-grow: 0;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 227, 227);
}

.heading img {
  width: 25px;
}

.heading h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
.libraryItems {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;

  
}

.libraryItems ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: left;
  width: 100%;
  padding: 0px 5px;
}

.libraryItems ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 100%;
  justify-content: space-between;
}

.libraryItems .fa-music {
  font-size: large;
  padding: 8px;
  transition: all 0.3s ease;
  text-align: center;
  color: lightgrey;
  background-color: grey;
  border-radius: 5px;
  flex-grow: 0;
}

.libraryItems ul li:hover .fa-music {
  color: rgb(59, 59, 59);
  background-color: lightgrey;
  border-radius: 5px;
}

.songListInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 0px 5px 0px;
  flex-grow: 1;
  max-width: 70%;
}

.songListInfo h3 {
  color: lightgrey;
  font-family: "poppins", sans-serif;
  font-weight: 550;
  font-size: 0.9rem;
  transition: all 0.3 ease;
  white-space: nowrap;        /* Prevent text from wrapping */
  overflow: hidden;           /* Hide overflowed text */
  text-overflow: ellipsis;    /* Add ellipsis (...) when the text overflows */
}

.libraryItems ul li:hover h3{
  color: white;
}
.songListInfo p {
  max-width: 8rem;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#libraryPlayBtn {
  font-size: medium;
  color: grey;
  padding: 10px;
  transition: all 0.3s ease;
  flex-grow: 0;
}

.libraryItems ul li:hover #libraryPlayBtn {
  color: #1db954;
}

/* styling footer section inside library */

.libraryFooter {
  margin-bottom: auto;
  flex-grow: 0;
  padding: 5px 0px;
  position: sticky;
  bottom: 0px;
  background-color: #2e2e2e;
  padding: 10px 5px 10px 5px;
}

.libraryFooter ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: space-around;
}

.libraryFooter ul li {
  color: grey;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600px;
  transition: all 0.3s ease;
}

.libraryFooter ul li:hover {
  color: white;
}
/* Styling right side of the container */

.right {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color: #282828;
  gap: 10px;
  flex-grow: 0;
}

.rightHeader .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rightHeaderBtns button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.rightHeaderBtns button:hover {
  background-color: #45a049;
}

/* Styling main content of the right side */

.spotifyPlaylist {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  align-content: flex-start;
  flex-grow: 1;
}

.spotifyPlaylist h1 {
  font-family: Poppins, "Roboto", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin: 10px 0px;
}

.cardContainer {
  display: flex;
  column-gap: 10px;
  row-gap: 15px;
  flex-wrap: wrap;
  overflow-y: auto;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #282828;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 160px;
  position: relative;
  max-height: fit-content;
}

.card:hover {
  background-color: rgb(77, 77, 77);
  transition: all 0.3s ease;
}

.card img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card:hover img {
  filter: brightness(0.6);
  transition: all 0.3s ease;
}
.card h2 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  overflow: hidden;
  letter-spacing: 0.07rem;
}

.card p {
  font-family: "Roboto", sans-serif;
  font-size: small;
  color: grey;
  overflow: hidden;
  cursor: default;
}

.card:hover p {
  color: rgb(173, 173, 173);
  transition: all 0.3s ease;
}
/* Styling the play button */

.playButton {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #1db954;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 100px;
  margin-left: 115px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .playButton {
  display: flex;
  opacity: 1;
  animation: playButtonMove 0.4s ease-out forwards;
  pointer-events: all;
}

@keyframes playButtonMove {
  0% {
    transform: translateX(-50%) translateY(-20px); /* Start above */
  }

  50% {
    transform: translateX(-50%) translateY(5px); /* Move down a bit */
  }
  100% {
    transform: translateX(-50%) translateY(0); /* End at the original position */
  }
}


/* Styling Music Player of the Application*/
.mediaPlayer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgb(211, 211, 211);
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-bottom: auto;
  flex-grow: 0;

}
.playerElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border-radius: 0px 0px 5px 5px;
}

.currentSongTitle {
  width: 30%;
}

.currentSongTitle h3 {
  width: 100%;
  font-size: small;
  color: rgb(71, 71, 71);
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 40%;
}

#playBtn {
  font-size: 35px;
  cursor: pointer;
  color: #4caf50;
  width: 18px;
}

.playButtons .fa-circle-chevron-left, .fa-circle-chevron-right {
  font-size: 25px;
  cursor: pointer;
  color: rgb(70, 70, 70);
}

.songTime {
  width: 30%;
}

.songTime h3{
  width: 100%;
  color: rgb(71, 71, 71);
  font-size: small;
  font-weight: 400;
  text-align: right;
}

.seekBar {
  width: 100%; /* Full width of the container */
  height: 4px; /* Height of the seek bar track */
  background-color: rgb(48, 48, 48); /* Track color */
  position: relative;
  margin-top: 10px; /* Space between buttons and seek bar */
  transition: all 0.3s ease;
  cursor: pointer;
}

.seekBar:hover {
  background-color: #1db954;
}

.seekBar .circle {
  height: 15px;
  width: 15px;
  background-color: #1db954; /* Handle color */
  border-radius: 50%; /* Perfect circle */
  position: absolute;
  top: 50%; /* Center vertically */
  left: 0; /* Start from the left */
  transform: translateY(-50%); /* Adjust for vertical centering */
  cursor: pointer; /* Indicate it's draggable */
  transition: all 0.2s ease;
}