/* All these classes are utility classes. They are used to apply some common styles to the elements */

:root {
    --primary-color: #E0E0E0;
    --secondary-color: #00ADB5;
    --background-color: #121212;
    --text-color: #E0E0E0;
    --slider-background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    --accent-color: #00ADB5;
    --grey-color: #1E1E1E;
  }

  
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: var(--grey-color);
    color: white;
}

.bg-gray {
    background-color: var(--background-color);
}

.p1 {
    padding: 10px;
}

.m1 {
    margin: 10px;
}

.rounded {
    border-radius: 5px;
}

.font-md {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.no-wrap {
    /* white-space: nowrap;  Prevents text from wrapping */
    overflow: hidden;      /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds "..." if text is too long */
  }

  /* Customizing the scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--grey-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  